// --------------------------------------------------
// Project styles
// --------------------------------------------------
body {
    background-color: $black;
}
.container-header {
    padding-top: 40px;
    color: #ffffff;
    h1 {
        text-align: center;
    }
    .logo {
       height: 122px;
       width: auto;
       display: block;
       margin: 0 auto;
    }
}
.main-nav { 
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 40px 0;
    padding: 40px, 0;
    a {
        color: white;
    }
    li {
        margin: 0 10px;
    }
    
}
.container-home {
padding: 0 100px;
}
.hero {
    align-items: center;
    background-image: url('../images/dumbo.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    height: 40vh;
    margin-bottom: 2em;
}
.hero-title {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 0.2em #000000;
}
.content-box {
    $size: 80%;
    background-color: black;
    border: 1px solid $gray-1; //gives me thin outlines
    border-radius: 0.1em; 
    margin: 0.2em 0;
    width: $size;
    height: $size;
    padding-bottom: $size; //padding hack
    position: relative;
    margin-bottom: 30px;

}
.art-thumb {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    // top: 50%;
    // left: 50%;
    // margin-left: -35%;
    // margin-top: -35%;

}

.thumb-box {
    height: 100%;
    width: 100%;

} 


    .img-col {
        margin-bottom: 30px;
    }
