// --------------------------------------------------
// Project styles
// --------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
font-family: 'Roboto', sans-serif;
font-weight: 100;
    background-color: $black;
}
.container-header {
    padding-top: 40px;
    color: #ffffff;
    h1 {
        text-align: center;
    }
    .logo {
       height: 122px;
       width: auto;
       display: block;
       margin: 0 auto;
    }
}

.text-column {

    color: #ffffff;
    width: 854px;
    font-size: 21px;
    line-height: 1.5;

    p {margin-top: 2em;}


}

.main-nav { 
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 60px 0 40px 0;
    padding: 0;

    a {
        color: white;
    }
    li {
        margin: 0 10px;
    }
    
    .selected-page {
        font-weight: bold;
        pointer-events: none; 
    }
}
.container-home {
padding: 0 100px;
}
.hero {
    align-items: center;
    background-image: url('../images/dumbo.jpg');
    background-position: center bottom;
    background-size: cover;
    display: flex;
    height: 40vh;
    margin-bottom: 2em;
}
.hero-title {
    color: #ffffff;
    font-size: 60px;
    text-align: center;
    text-shadow: 0 0 0.2em #000000;
}

.img-col {
    margin-bottom: 30px;
}

.content-box {
    width: 100%;
    height: 0;
    padding-bottom: 100%; //padding hack
    position: relative;
}

.art-thumb {
    $size: 70%;

    border: 1px solid rgba($white, 0.5);
    border-radius: 50%;
    display: block;
    width: $size;
    height: $size;
    position: absolute;
    object-fit: cover;
    left: 50%;
    top: 50%;
    margin-left: ($size / 2) * -1;
    margin-top: ($size / 2) * -1;
}


// Bootstrap modal
// (mostly overrides)
// ------------------------------------
.modal {

    $modal-padding: 2rem;

    .close {
        color: #fff;
        text-shadow: none;
        margin: 0.5rem 0.5rem 0 auto;
    }

    .modal-header {
        padding: $modal-padding $modal-padding 0 $modal-padding;
        border: none;
    }

    .modal-title {
        color: #fff;
    }

    .modal-dialog {
        max-width: 60vw;
    }

    .modal-content {
        background-color: #000;
        border: 1px solid rgba(#fff, 0.5);
        height: 90vh; // percentage of viewport height/width
    }

    .modal-body {
        padding: $modal-padding;
        display: flex;
        flex-direction: column;

        min-height: 0;
        height: 100%;
    }

    .modal-text {
        color: #fff;
    }
}



// Bootstrap carousel
// ------------------------------------

.carousel {
    height: 100%;
    min-height: 0;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-image {
    height: 100%;
    object-fit: contain;
}
